body {
  text-align: center;
  background-color: rgb(16, 1, 47);
}

h1 {
  color: rgb(231, 56, 114);
}

#email #pass {
  color: pink;
  border-radius: 20px;
  border: 5px black;
}

label {
  color: pink;
}

#submit {
  width: 20%;
  color: black;
  border: 10px white;
  border-radius: 20px;
  background-color: green;
}

a {
  text-align: right;
}

#div {
  color: red;
}

#div1 {
  color: green;
}